<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/ship32.ico') }}">
</head>
<body>
{% block content %}
    <div class="name">
        <h1>Sea Battle Game</h1>
    </div>
    <div class="content">
        <div class="onstart"><a class="start-btn" href="{{ url_for('index') }}">{{ texts['restart'][language] }} 🔄</a></div>
        {% block app_content %}

        {% endblock %}
    </div>
{% endblock %}
</body>

{% block scripts %}
    <link href="{{ url_for('static', filename='style/style.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

</html>